############################
# OS (Windows / Mac / Linux)
############################
.DS_Store
Thumbs.db

############################
# Environment variables
############################
.env
ai/.env.example
!ai/.env.example

############################
# Node.js / React
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

build/
dist/
.next/
out/

############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env/

############################
# Supabase
############################
.supabase/
supabase/.branches/
supabase/.temp/

############################
# Database
############################
*.sqlite
*.db

############################
# IDE / Editor
############################
.vscode/
.idea/
*.swp

safety-cctv-ai/tests
safety-cctv-ai/data
safety-cctv-ai/outputs